<%= render "layouts/header" %> 
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-1 pt-3">Administration</h1>
            <hr />
        </div>
    </div>

    <div class="row pt-3">
        <ul>
            <% @users.each do |user|  %>
                <% if user.recettes.length > 0 %>
                    <li>
                        <%= user.nom %> <%= user.prenom %>
                        <ol>
                            <% user.recettes.each do |recette| %>
                                <li><%= link_to  recette.titre, controller: "administration", action: "recette", id: recette.id %></li>
                                
                            <% end %>
                        </ol>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>